<a href="https://colab.research.google.com/github/SHANMUGA000/MENTAL-HEALTH-DISORDER-/blob/main/Mental.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Health care Analytics

Assignment - 2

**NLP based clinical decision making- Apply anyone DL algorithm**

In [ ]:
import numpy as np
import pandas as pd
from keras.preprocessing.text import Tokenizer
from keras.models import Sequential
from keras.layers import Embedding, LSTM, Dense

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Mental health Depression disorder Data.csv')

<ipython-input-3-c02a2913e811>:1: DtypeWarning: Columns (5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/drive/MyDrive/Mental health Depression disorder Data.csv')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df.head(8)

,index,Entity,Code,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%)
0,0,Afghanistan,AFG,1990,0.16056,0.697779,0.101855,4.828830,1.677082,4.071831,0.672404
1,1,Afghanistan,AFG,1991,0.160312,0.697961,0.099313,4.829740,1.684746,4.079531,0.671768
2,2,Afghanistan,AFG,1992,0.160135,0.698107,0.096692,4.831108,1.694334,4.088358,0.670644
3,3,Afghanistan,AFG,1993,0.160037,0.698257,0.094336,4.830864,1.705320,4.096190,0.669738
4,4,Afghanistan,AFG,1994,0.160022,0.698469,0.092439,4.829423,1.716069,4.099582,0.669260
5,5,Afghanistan,AFG,1995,0.160076,0.698695,0.09098,4.828337,1.728112,4.104207,0.668746
6,6,Afghanistan,AFG,1996,0.160249,0.698914,0.089709,4.828083,1.737643,4.107500,0.667727
7,7,Afghanistan,AFG,1997,0.160554,0.699127,0.088372,4.827726,1.746891,4.110834,0.666220

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108553 entries, 0 to 108552
Data columns (total 11 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   index                      108553 non-null  int64
 1   Entity                     108553 non-null  object
 2   Code                       103141 non-null  object
 3   Year                       108553 non-null  object
 4   Schizophrenia (%)          25875 non-null   object
 5   Bipolar disorder (%)       19406 non-null   object
 6   Eating disorders (%)       100236 non-null  object
 7   Anxiety disorders (%)      6468 non-null    float64
 8   Drug use disorders (%)     6468 non-null    float64
 9   Depression (%)             6468 non-null    float64
 10  Alcohol use disorders (%)  6468 non-null    float64
dtypes: float64(4), int64(1), object(6)
memory usage: 9.1+ MB

In [ ]:
df.shape

(108553, 11)

**Preprocess the dataset
Convert all text to lowercase**

In [ ]:
df['Entity'] = df['Entity'].map(lambda x: x.lower())

**Remove Punctuation**

In [ ]:
df['Entity'] = df['Entity'].map(lambda x: x.replace(',', '').replace('.', ''))

**Split the data into training and testing sets**

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(df['Entity'], df['Depression (%)'], test_size=0.25, random_state=42)

**Tokenize the data**

In [ ]:
tokenizer = Tokenizer(num_words=5000)
tokenizer.fit_on_texts(X_train)

**Convert the text data to sequences of integers**

In [ ]:
X_train_seq = tokenizer.texts_to_sequences(X_train)
X_test_seq = tokenizer.texts_to_sequences(X_test)

**Pad the sequences to the same length**

In [ ]:
from keras.preprocessing.sequence import pad_sequences

In [ ]:
X_train_seq = pad_sequences(X_train_seq, maxlen=100)
X_test_seq = pad_sequences(X_test_seq, maxlen=100)

**Define the deep learning model**

In [ ]:
model = Sequential()
model.add(Embedding(input_dim=5000, output_dim=128))
model.add(LSTM(128))
model.add(Dense(1))

**Compile the model**

In [ ]:
model.compile(loss='mse', optimizer='adam')

**Train the model**

In [ ]:
model.fit(X_train_seq, y_train, epochs=2)

Epoch 1/2
2545/2545 [==============================] - 486s 190ms/step - loss: nan
Epoch 2/2
2545/2545 [==============================] - 475s 187ms/step - loss: nan

**Saving the model**

In [ ]:
from keras.models import load_model

model.save("depression_predictor_model.h5")

**Evaluate the model**

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
X_train = X_train.dropna()